<configuration>
  <system.webServer>
      <staticContent>
        <remove fileExtension=".json" />
    		<mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
      <rewrite>
        <rules>
          <rule name="domain_redirect" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="^.*(azurewebsites\.net)+$" />
            </conditions>
            <action type="Redirect" url="http://battery-map.ru"  redirectType="Permanent"/>
          </rule>
        </rules>
      </rewrite>
  </system.webServer>
</configuration>